/*Collection*/
.collection h5 {
  font-size: 16px;
  color: #a0755d;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

.nav-group {
  margin-bottom: 30px;
}
.nav-group h6 {
  font-size: 14px;
  color: #666666;
  font-weight: 600;
  margin: 15px 0 10px 0;
  text-transform: uppercase;
}
.nav-group ul {
  padding: 0;
  margin: 0;
}
.nav-group ul li {
  list-style: none;
}
.nav-group ul li a {
  text-transform: uppercase;
  color: #666666;
  font-size: 14px;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
  display: block;
}
.nav-group .bold-text a {
  font-weight: 600;
}

/*Favorites*/
.collection {
  padding:0px 0 60px;
}
.collection ul.breadcrumb {
  margin-bottom: 10px;
}
.navbar-form {
  margin: 0 0 25px 0;
  padding: 0;
  position: relative;
}
.navbar-form .input-group {
  width: 100%;
}
.navbar-form .input-group input {
  background-color: #fbf9f2;
  border: #c7bea4 solid 1px;
  height: 55px;
  text-transform: uppercase;
}
.navbar-form .input-group-btna {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.navbar-form .input-group-btna button {
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 15px 10px;
}
.navbar-form .input-group-btna button .icon-search {
  font-size: 21px;
}
.navbar-form .form-control {
  padding-left: 50px;
}